@import 'wide';

/*Mobile Style */
body, html {
    font-family: "arial", sans-serif;
    color: rgb(141, 141, 141);
    line-height: 10px;
    background-color: #eee;
    font-size: 16px;
  
}      
#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #eee;
}
#main {
    float: left;
    width:  100%;
    min-width: 250px;
    display: inline-block;
    background-color:  rgba(135, 135, 135, 0.90);
    color: #fff;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: center;
}
#details {
    float: left;
    width: 100%;
    min-width: 240px;
    background-color: rgba(135, 135, 135, 0.75);
    color: #fff;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: center;
}
#bottom{
	float: left;
    text-align: center;
    line-height: 20px;
    width: 100%;
    background-color: rgba(135, 135, 135, 0.55);
    color: #fff;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
	border-bottom: solid 3px #888;
}
    #forecast {
	display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

   #new {
    float: left;
    text-align: center;
    line-height: 20px;
    width: 100%;
    background-color: rgba(135, 135, 135, 0.45);
    color: #fff;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
    color:  #fff;
}
p {
    color: #fff;
}