@import 'normalize';
@font-face {
    font-family: 'Meteocons';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {font-family: Meteocons;}

@import "http://fonts.googleapis.com/css?family=Montserrat";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}
html, body { width: 100%; height: 100%; background-color: darken(#444, 3%);}
.container{ 
    font-family: montserrat;
    text-shadow: 0 1px 1px #111;
    position:relative;
    height: 100%;
    min-height:180px;
    width: 100%;
    overflow-y: no-scroll;
}
.boolean{
    float:left;
    height:80%;
    width:100%;
    background-color: #333;
    font-family: Montserrat;
    color: #fff;
    position:relative;
}
.answer {
    position:absolute;
    display:inline-block;
    margin: auto;
    top:0;right:0;left:0;bottom:0;
    height:150px;
    width:800px;
    text-align:center;
    font-size:1.3em;  
    &>h1{
        display:inline-block;
        position:relative;
    } 
}
span.arrow {
    color:#555;
    cursor:pointer;
    display:block;
    position:absolute;
    right:-1em;
    font-size:1em;
    bottom:0;

    &:hover{
        color:#888;
    }

}
ul.data {
    color:#888;
    list-style:none;
    display: inline-block;
    display:none;
    margin:20px auto;
    margin-top:0;
    text-align:center;
}
span.current-info {
        display:inline-block;
        text-align:center;
        margin: auto;
        h1 {
            display:block;
            float:left;
            font-size: 3em;
            font-weight:normal;
            margin:0;
            padding-right: 20px;
            border-right: solid 2px #fff;
            padding-left:27px;

        }
        h3{
            display:block;
            float:left;
            text-align:left;
            font-weight:normal;
            padding-left:25px;
        }
        
        
    }

.forecast {
    float:left;
    height: 20%;
    width:100%;
    
    background-color: #111;
    ul{
        width:100%;
        height: 100%;
        display: inline-block;
        list-style-type:none;
        color:#fff;
    }
    ul li {
        float:left;
        height:100%; 
        width: 20%;
        background-color:#444;
        position:relative;
        border-left: solid 1px #555;
        border-bottom: solid 1px #555;
        span {
            display:inline-block;
            position:absolute;
            margin: auto;
            top:0;right:0;left:0; bottom:0;
            height:100px;
            width:100px;
            text-align:center;
            h1{
                padding:0;margin:0;
                font-size: 3em;
                font-weight:normal;
                font-family: Meteocons;
            }
            p {
                padding:0;padding-top:5px;margin:0;
            }
            p:last-child{
                padding:0;
                font-size:.9em;
            }
    }
    }
}

@for $i from 1 through 10 {
  .forecast ul li:nth-child( #{$i} ) { background-color: lighten(#333, 2% + ( $i * 2 )); }
}




@media (max-width: 900px){
    .forecast ul li {
        width: 25%;
    }
    .answer {
        font-size: .8em;
        height:100px;
        width: 460px;
    }
    ul.data{
        margin-top:1em;
    }
    ul.data li {
        font-size: 1.3em;
    }
}
@media (max-width: 700px){
    .forecast ul li {
        width: 33.333%;
    }
    .forecast ul li span {
        font-size: .8em;
        height:70px;
    }
    .answer {
        font-size: .7em;
        width: 230px;
    }
    ul.data li {
        font-size: 1.2em;
    }
}
@media (max-width: 500px){
    .forecast ul li {
        width: 50%;
    }
    ul.data li {
        font-size: 1em;
    }
}
@media (max-width: 300px){
    .forecast ul li {
        width: 100%;
    }
    ul.data li {
        font-size: 1em;
    }
}
@media (max-height: 700px){
    .forecast ul li {
        font-size: .7em;
    }
    .forecast ul li span{
        height:50px;
    }
    ul.data li {
        font-size: 1.1em;
    }
}
@media (max-height: 400px){
    .boolean{
        height:100%;
    }
    .forecast{
        height:35%;
    }
    .forecast ul li {
        font-size: .7em;
    }
    .forecast ul li span{
        height:40px;
    }
    ul.data {
        font-size: .6em;
    }
}