
@media (max-width: 600px){    
	#container {
	position: absolute;
	margin: auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width: 325px;
	height: 600px;
	text-align: center;
	box-shadow: 0 0 5px 5px;
}
	#main {
	float: left;
	width:  100%;
	background-color:  rgba(135, 135, 135, 0.90);
	color: #fff;
	border-radius: 8px 8px 0 0;
	border-top: solid 5px #777;
	padding-bottom: 10px;
}
	#details {
	float: left;
	width:  100%;
	background-color: rgba(135, 135, 135, 0.75);
	color: #fff;
}
	#bottom {
	float: left;
	width: 100%;
	background-color: rgba(135, 135, 135, 0.55);
	color: #fff;
	margin:0;
	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-bottom: solid 3px #888888;
}

	#container img { width: 150px; height: 100px; 
}
}


